<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title> <%= page_title %>  </title>
	
	<%= stylesheet_link_tag 'dialog' %>
  	<%= javascript_include_tag :defaults %>
  
</head>

<body>

  <div id="main">

	<div id="left">
		
	<h2 class="head">Use 'content_for :header do; end' in your view to set this title</h2>
	
     <%= flash_message %>

      <div id="screen">
        <%= yield %>
      </div>
    </div>

  </div>

  <%= partial 'shared/footer' %>


</body>
</html>
